{% extends 'include/base.html' %}
{% load static %}
{% block title %}Материально-техническое обеспечение - МОУ Размахнинская СОШ{% endblock %}

{% block content %}
<div class="page-header">
<div class="container">
    <h1>Материально-техническое обеспечение и оснащенность образовательного процесса</h1>
</div></div>
    <div class="container">
<div class="section">            <div class="section-header">
           <span class="section-badge">Общая информация</span>
        </div>
    <div class="material-card">
        <p>МОУ Размахнинская СОШ располагает современной материально-технической базой, которая обеспечивает качественное проведение образовательного процесса и создает комфортные условия для обучения и воспитания учащихся.</p>
        
        <div class="material-highlights">
            <div class="material-highlight-item">

                <div class="material-highlight-content">
                    <h4>Здание школы</h4>
                    <p>Общая площадь: 3200 м²</p>
                    <p>Год постройки: 1964</p>
                    <p>Капитальный ремонт: 2018</p>
                </div>
            </div>
            
            <div class="material-highlight-item">

                <div class="material-highlight-content">
                    <h4>Вместимость</h4>
                    <p>Проектная мощность: 450 учащихся</p>
                    <p>Фактическая наполняемость: 320 учащихся</p>
                </div>
            </div>
            
            <div class="material-highlight-item">

                <div class="material-highlight-content">
                    <h4>Территория</h4>
                    <p>Площадь земельного участка: 1,5 га</p>
                    <p>Ограждение: по всему периметру</p>
                    <p>Озеленение: 40% территории</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
            <div class="section-header">
           <span class="section-badge">Учебные кабинеты и помещения</span>
        </div>
    
    <div class="material-card">
        <h3>Оснащение учебных кабинетов</h3>
        <p>Школа располагает 25 учебными кабинетами, оснащенными современным оборудованием для проведения занятий по всем предметам учебного плана.</p>
        
        <div class="material-table-container">
            <table class="material-table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Оснащение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Кабинеты начальных классов</td>
                        <td>8</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Документ-камера</li>
                                <li>Комплекты учебно-наглядных пособий</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинеты русского языка и литературы</td>
                        <td>3</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Комплекты учебно-наглядных пособий</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинеты математики</td>
                        <td>3</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Комплекты учебно-наглядных пособий</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет физики</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Лабораторное оборудование</li>
                                <li>Демонстрационное оборудование</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет химии</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Вытяжной шкаф</li>
                                <li>Лабораторное оборудование</li>
                                <li>Демонстрационное оборудование</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет биологии</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Микроскопы</li>
                                <li>Лабораторное оборудование</li>
                                <li>Демонстрационное оборудование</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет информатики</td>
                        <td>2</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Компьютеры для учащихся (15 шт.)</li>
                                <li>Локальная сеть с выходом в Интернет</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет иностранного языка</td>
                        <td>2</td>
                        <td>
                            <ul class="material-list">
                                <li>Интерактивная доска</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Лингафонное оборудование</li>
                                <li>Комплекты учебно-наглядных пособий</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет технологии (для девочек)</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Швейные машины</li>
                                <li>Оверлок</li>
                                <li>Кухонное оборудование</li>
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет технологии (для мальчиков)</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Столярные верстаки</li>
                                <li>Слесарные верстаки</li>
                                <li>Токарные станки по дереву</li>
                                <li>Сверлильные станки</li>
                                <li>Комплекты инструментов</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет ОБЖ</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Тренажер для оказания первой помощи</li>
                                <li>Комплекты учебно-наглядных пособий</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет музыки</td>
                        <td>1</td>
                        <td>
                            <ul class="material-list">
                                <li>Проектор</li>
                                <li>Компьютер учителя</li>
                                <li>Фортепиано</li>
                                <li>Музыкальный центр</li>
                                <li>Комплекты музыкальных инструментов</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="material-card">
        <h3>Дополнительные помещения</h3>
        
        <div class="material-table-container">
            <table class="material-table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Актовый зал</td>
                        <td>1</td>
                        <td>
                            <p>Площадь: 200 м²</p>
                            <p>Вместимость: 180 человек</p>
                            <p>Оснащение: сцена, мультимедийное оборудование, звуковая аппаратура, световое оборудование</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Конференц-зал</td>
                        <td>1</td>
                        <td>
                            <p>Площадь: 80 м²</p>
                            <p>Вместимость: 40 человек</p>
                            <p>Оснащение: интерактивная доска, проектор, компьютер, система видеоконференцсвязи</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Учительская</td>
                        <td>1</td>
                        <td>
                            <p>Площадь: 50 м²</p>
                            <p>Оснащение: компьютеры с выходом в Интернет, принтер, сканер, копировальный аппарат</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет психолога</td>
                        <td>1</td>
                        <td>
                            <p>Площадь: 20 м²</p>
                            <p>Оснащение: компьютер, диагностические материалы, методические пособия</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Кабинет социального педагога</td>
                        <td>1</td>
                        <td>
                            <p>Площадь: 18 м²</p>
                            <p>Оснащение: компьютер, методические материалы</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="section">
                <div class="section-header">
           <span class="section-badge">Объекты спорта</span>
        </div>
    
    <div class="material-card">
        <div class="material-grid">
            <div class="material-grid-item">

                <div class="material-image">
                    <img src="{% static 'images/sport.png' %}" alt="Спортивный зал" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 288 м²</p>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Баскетбольные щиты</li>
                        <li>Волейбольная сетка</li>
                        <li>Гимнастические снаряды</li>
                        <li>Шведские стенки</li>
                        <li>Спортивный инвентарь</li>
                    </ul>
                </div>
            </div>
            
            <div class="material-grid-item">

                <div class="material-image">
                    <img src="{% static 'images/gym.png' %}" alt="Малый спортивный зал" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 120 м²</p>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Гимнастические маты</li>
                        <li>Тренажеры</li>
                        <li>Спортивный инвентарь</li>
                    </ul>
                </div>
            </div>
            
            <div class="material-grid-item">

                <div class="material-image">
                    <img src="{% static 'images/sports-ground.png' %}" alt="Спортивная площадка" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 1500 м²</p>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Футбольное поле</li>
                        <li>Беговая дорожка</li>
                        <li>Баскетбольная площадка</li>
                        <li>Волейбольная площадка</li>
                        <li>Полоса препятствий</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
            <div class="section-header">
           <span class="section-badge">Библиотека</span>
        </div>
    
    <div class="material-card">
        <div class="material-grid">
            <div class="material-grid-item wide">

                <div class="material-image">
                    <img src="{% static 'images/library.png' %}" alt="Школьная библиотека" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 120 м²</p>
                    <p><strong>Читальный зал:</strong> 30 посадочных мест</p>
                    <p><strong>Книжный фонд:</strong></p>
                    <ul class="material-list">
                        <li>Общий фонд: 22 500 экземпляров</li>
                        <li>Учебная литература: 12 800 экземпляров</li>
                        <li>Художественная литература: 8 200 экземпляров</li>
                        <li>Справочная литература: 1 500 экземпляров</li>
                    </ul>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Компьютеры с выходом в Интернет: 5 шт.</li>
                        <li>Принтер</li>
                        <li>Сканер</li>
                        <li>Электронный каталог</li>
                        <li>Медиатека: 300 электронных изданий</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
            <div class="section-header">
           <span class="section-badge">Столовая и организация питания</span>
        </div>
    
    <div class="material-card">
        <div class="material-grid">
            <div class="material-grid-item wide">

                <div class="material-image">
                    <img src="{% static 'images/canteen.png' %}" alt="Школьная столовая" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 180 м²</p>
                    <p><strong>Количество посадочных мест:</strong> 120</p>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Современное технологическое оборудование</li>
                        <li>Холодильное оборудование</li>
                        <li>Пищеблок</li>
                        <li>Моечное отделение</li>
                    </ul>
                    <p><strong>Организация питания:</strong></p>
                    <ul class="material-list">
                        <li>Двухразовое горячее питание (завтрак, обед)</li>
                        <li>Бесплатное питание для льготных категорий учащихся</li>
                        <li>Контроль качества продуктов и готовых блюд</li>
                        <li>Соблюдение санитарно-гигиенических требований</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
            <div class="section-header">
           <span class="section-badge">Медицинское обслуживание</span>
        </div>
    
    <div class="material-card">
        <div class="material-grid">
            <div class="material-grid-item wide">

                <div class="material-image">
                    <img src="{% static 'images/med.jpg' %}" alt="Медицинский кабинет" onerror="this.src='{% static 'images/placeholder.jpg' %}'">
                </div>
                <div class="material-details">
                    <p><strong>Площадь:</strong> 36 м²</p>
                    <p><strong>Состав помещений:</strong></p>
                    <ul class="material-list">
                        <li>Кабинет врача</li>
                        <li>Процедурный кабинет</li>
                    </ul>
                    <p><strong>Оснащение:</strong></p>
                    <ul class="material-list">
                        <li>Медицинское оборудование согласно стандартам оснащения</li>
                        <li>Медицинская мебель</li>
                        <li>Медикаменты для оказания первой помощи</li>
                    </ul>
                    <p><strong>Организация медицинского обслуживания:</strong></p>
                    <ul class="material-list">
                        <li>Медицинское обслуживание осуществляется на основании договора с ГУЗ "Шилкинская центральная районная больница"</li>
                        <li>Медицинский работник: фельдшер (по графику)</li>
                        <li>Проведение профилактических осмотров</li>
                        <li>Вакцинация учащихся</li>
                        <li>Оказание первой медицинской помощи</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
                <div class="section-header">
           <span class="section-badge">Доступ к информационным системам и информационно-телекоммуникационным сетям</span>
        </div>

    
    <div class="material-card">
        <h3>Информационная инфраструктура школы</h3>
        
        <div class="material-details">
            <p><strong>Локальная сеть:</strong> Все учебные кабинеты и административные помещения школы объединены в единую локальную сеть.</p>
            <p><strong>Доступ к сети Интернет:</strong> Скорость подключения - 100 Мбит/с. Провайдер - ПАО "Ростелеком".</p>
            <p><strong>Компьютерное оборудование:</strong></p>
            <ul class="material-list">
                <li>Общее количество компьютеров: 85</li>
                <li>Компьютеры, используемые в учебном процессе: 65</li>
                <li>Компьютеры, используемые в административных целях: 20</li>
                <li>Ноутбуки: 30</li>
                <li>Планшеты: 15</li>
            </ul>
            <p><strong>Мультимедийное оборудование:</strong></p>
            <ul class="material-list">
                <li>Интерактивные доски: 15</li>
                <li>Проекторы: 25</li>
                <li>Документ-камеры: 10</li>
            </ul>
            <p><strong>Информационные системы:</strong></p>
            <ul class="material-list">
                <li>Электронный журнал и дневник</li>
                <li>Система контроля доступа в здание</li>
                <li>Система видеонаблюдения</li>
                <li>Библиотечная информационная система</li>
            </ul>
            <p><strong>Официальный сайт школы:</strong> <a href="http://razmahnino-sosh.ru" target="_blank">http://razmahnino-sosh.ru</a></p>
            <p><strong>Электронная почта:</strong> razmahnino-sosh2014@mail.ru</p>
            

        </div>
    </div>
</div>

<div class="section">
                <div class="section-header" id="dostyp">
           <span class="section-badge">Доступная среда</span>
        </div>
    
    <div class="material-card">
        <h3>Условия для лиц с ограниченными возможностями здоровья</h3>
        
        <div class="material-details">
            <p>В МОУ Размахнинская СОШ созданы условия для обучения лиц с ограниченными возможностями здоровья и инвалидов.</p>
            
            <div class="material-table-container">
                <table class="material-table">
                    <thead>
                        <tr>
                            <th>Условия</th>
                            <th>Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Архитектурная доступность</td>
                            <td>
                                <ul class="material-list">
                                    <li>Пандус при входе в здание</li>
                                    <li>Расширенные дверные проемы</li>
                                    <li>Тактильные указатели</li>
                                    <li>Кнопка вызова персонала</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Специальное оборудование</td>
                            <td>
                                <ul class="material-list">
                                    <li>Специализированная мебель</li>
                                    <li>Компьютерное оборудование с программным обеспечением для слабовидящих</li>
                                    <li>Аудиоаппаратура для слабослышащих</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Санитарно-гигиенические помещения</td>
                            <td>
                                <ul class="material-list">
                                    <li>Специально оборудованный санузел на первом этаже</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Информационное обеспечение</td>
                            <td>
                                <ul class="material-list">
                                    <li>Версия сайта для слабовидящих</li>
                                    <li>Информационные таблички с дублированием шрифтом Брайля</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Кадровое обеспечение</td>
                            <td>
                                <ul class="material-list">
                                    <li>Педагог-психолог</li>
                                    <li>Социальный педагог</li>
                                    <li>Учителя, прошедшие курсы повышения квалификации по работе с детьми с ОВЗ</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

        </div>
    </div>
</div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Image error handling is already in the HTML with onerror attribute
    });
</script>
{% endblock %}

{% block extra_css %}
<style>
    .material-card {
        background-color: #f8f9fa;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        box-shadow: var(--box-shadow);
    }
    
    .material-highlights {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        margin-top: 1.5rem;
    }
    
    .material-highlight-item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .material-highlight-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba(37, 99, 235, 0.1);
        color: var(--primary-color);
        border-radius: 50%;
        flex-shrink: 0;
    }
    
    .material-highlight-content h4 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    
    .material-highlight-content p {
        margin: 0;
        margin-bottom: 0.25rem;
        color: var(--text-light);
    }
    
    .material-table-container {
        overflow-x: auto;
        margin: 1.5rem 0;
    }
    
    .material-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .material-table th,
    .material-table td {
        padding: 0.75rem;
        text-align: left;
        border: 1px solid var(--border-color);
    }
    
    .material-table th {
        background-color: var(--primary-color);
        color: white;
    }
    
    .material-table tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02);
    }
    
    .material-table tr:hover {
        background-color: rgba(37, 99, 235, 0.05);
    }
    
    .material-list {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 0;
    }
    
    .material-list li {
        margin-bottom: 0.25rem;
    }
    
    .material-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
    }
    
    .material-grid-item {
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .material-grid-item.wide {
        grid-column: 1 / -1;
    }
    
    .material-grid-item h3 {
        padding: 1rem;
        margin: 0;
        background-color: var(--primary-color);
        color: white;
    }
    
    .material-image {
        height: 200px;
        overflow: hidden;
    }
    
    .material-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .material-details {
        padding: 1rem;
    }
    
    .material-details p {
        margin-bottom: 0.5rem;
    }
    
    .document-download {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    
    .material-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        margin-top: 1rem;
    }
    
    .material-link-item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        color: var(--text-color);
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .material-link-item:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: var(--primary-color);
    }
    
    .material-link-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba(37, 99, 235, 0.1);
        color: var(--primary-color);
        border-radius: 50%;
        flex-shrink: 0;
    }
    
    .material-link-content h4 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    
    .material-link-content p {
        margin: 0;
        color: var(--text-light);
        font-size: 0.9rem;
    }
    
    .btn-sm {
        padding: 0.25rem 0.75rem;
        font-size: 0.875rem;
    }
    
    @media (max-width: 768px) {
        .material-table th,
        .material-table td {
            padding: 0.5rem;
            font-size: 0.9rem;
        }
        
        .material-image {
            height: 150px;
        }
        
        .document-download {
            flex-direction: column;
        }
    }
</style>
{% endblock %}

